.searchbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15%;
    min-width: 328px;
    max-width: 880px;
    padding: 0 25px;
    margin: 0 auto;

}

.searchbar-title {
    font-size: 2rem;
    color: #f1f1f1;
    margin-left: 5px;
}

.searchbar-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #E2D7FF;

    height: 45%;
    border: 4px solid transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.searchbar-label-focused {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-self: center;
    justify-content: center;
    align-items: center;
    background-color: #E2D7FF;
    width: 90%;
    height: 40px;
    border: 4px solid transparent;
    border: 4px solid #00FFA3;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.active-label-searchbar {
    border: 4px solid #00FFA3;
}

.searchbar-icon-search {
    width: 2.5rem;
    height: 2.5rem;
    justify-self: center;
    color: #572364;
}

.searchbar-icon-search-focus {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    justify-self: center;
    color: #572364;
}

.searchbar-input {
    border: 0;
    background-color: transparent;
    padding: .5rem;
    width: 100%;
    height: 100%;
    color: #572364;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.searchbar-input-focus {
    border: 0;
    background-color: transparent;
    padding: .2rem;
    width: 100%;
    height: 100%;
    color: #572364;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}