.login-page-section {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(4, 42, 6, 1) 29%, rgba(17, 92, 18, 0.958420868347339) 49%, rgba(4, 42, 6, 1) 69%, rgba(0, 0, 0, 0.958420868347339) 100%), linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 65%, rgba(17, 41, 5, 0.958420868347339) 82%, rgba(4, 25, 2, 0.958420868347339) 94%, rgba(2, 15, 1, 0.958420868347339) 100%);


}

.login-page-img-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.login-page-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.login-page-glass {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.login-page-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 10vh;
    background-color: #000000;
}

.login-page-heading {
    display: flex;
    align-items: center;
}

.login-page-logo {
    width: 81.159px;
    height: 74px;
    flex-shrink: 0;
    margin: 20px;
}

.login-page-h1 {
    color: #eaeaea;
    font-size: 54px;
    font-weight: 900;
    line-height: normal;
}

.login-page-span {
    color: #a785fe;
    font-size: 54px;
    font-weight: 900;
    line-height: normal;
    padding-left: 10px;
}


@media only screen and (min-width: 530px) {
    .login-page-img-container {
        width: 530px;
        margin: 0 auto;
    }
}