.trendlist-wrapper {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.trendlist-wrapper::-webkit-scrollbar {
    width: 0;
}

.trendlist-container {
    display: flex;
    flex-direction: column;
    max-width: 1016px;
    gap: 16px;
    padding: 18px 18px 0 18px;
}

.trend-type-title {
    font-size: 1.8rem;
    padding-left: 1rem;
}

.top-trend-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-trend-items-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

.top-trend-items-container::-webkit-scrollbar {
    width: 0;
}

.white-space-trendlist {
    height: 150px;
}

@media only screen and (min-width: 1318px) {
    .trendlist-container {
        margin: 0 auto;
    }

    .white-space-trendlist {
        height: 81px;
    }
}

@media only screen and (min-height: 950px) {
    .white-space-trendlist {
        height: 81px;
    }
}